h1 {
	padding-top: 20px;
	padding-left: 430px;
}	

.container {
	padding-top: 20px;
}

#board {
	padding-left: 250px;
	padding-top: 70px;
}

.square {
	width: 150px;
	height: 150px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	text-align: center;
}

.bottom {
	border-bottom: 0px;
}

.top {
	border-top: 0px;
}

.right {
	border-right: 0px;
}

.left {
	border-left: 0px;
}

#newGame {
	margin-top: 70px;
	margin-left: 470px;
	text-align: center;
}